<%- include('../partials/menu-portal.ejs')%>
<title>Property Favourites - Auction House</title>
<div class='main'>
    <div class='maincontentt'>
      <div class='pagetitle'>Saved Properties</div>
  </div>
  <div class='maincontent'>
<style>
    .banner{
        background: url('branding/pngtree-hand-drawn-cartoon-house-print-ad-image_148888.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height:400px;
        width:100%;
    }
    .submenu{
        margin:10px 30px;
        padding:10px 20px;
        border-bottom:2px solid #000;
    }
    .mitem{
        display: inline-block;
        margin-right:20px;
        cursor: pointer;
    }
    .right{
        float:right;
    }
    .lotitem{
        float:left;
        background: #fff;
        width:25%;
        max-width:240px;
        min-width:140px;
        margin:30px 0px 30px 30px;
        cursor: pointer;
        box-sizing: border-box;
        border:1px solid #ccc;
    }
    .lotitem:hover{
        border:2px solid #c8102e;
        box-sizing: border-box;

    }
    .lotno{
        height:30px;
        text-align: center;
        background-color: #c8102e;
        color:#fff;
    }
    .lotitmlstimgtd{
        width: 100%;
padding-top:50%;
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
background-position: center;
margin:0px;
    }
.assetrow td{
    background-color: #f8f9fa;
    border:none;
    border-bottom: 1px solid #dae0e3;
    padding:0px;
}

.myTable{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

}
.imgcont{
    box-sizing: border-box;
    padding:0px  !important;
}
.assetrowmain td{
    background-color: #fff;
}

.myTable td{
    vertical-align: top;
    color:#333;
        text-align: left;
        padding:0px;
        overflow: hidden;
        font-size: 12px;
}
.lotdetailstable{
    border-collapse: collapse;
    
}
.lotdetailstable td{
    border:none;
}
.myremoveprop{
    text-decoration: none;
    color:red;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: unset;
}
</style>

    <div class='mycontainer' style='padding:20px;'>   
        <div id='myproperties'>

        </div>
        <div style='clear:both'></div>
    </div>

<script>
    <%console.log(lots)%>
    var lots = <%-JSON.stringify(lots)%>;
    const formatToCurrency = amount => {
        return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    };

    var auctionproperties = []
    var apfound = false;
    console.log('start')
    lots.forEach(l=>{
        apfound = false
        auctionproperties.forEach(ap=>{
            if(ap.date == l.datetime){
                apfound = true;
                ap.properties.push(l)
            }
        })
        if(!apfound){
            var newauctionproperty = {date:l.datetime,status:l.auctionstatus,properties:[l]}
            auctionproperties.push(newauctionproperty)
        }
    })
    var lotstr =''
     
        auctionproperties.forEach(ap=>{
            var auctiondate = 'Awaiting Auction Date'
            if(ap.date){
                auctiondate = 'Auction:'+helper.formateDateTimeFull(ap.date)
            }
            if(ap.status == 7){
                lotstr+='<div style="padding:8px 8px;background: green;color:#fff;font-weight: 500;">Deposit Required for Bidding via Credit Card is now open. If you wish to Bid on a property please first add the deposit for that property</div>'
                }
            lotstr+='<div style="padding:8px 8px;background: #BD2D33;color:#fff;font-weight: 500;">'+auctiondate+'<div style="float:right;"></div><div style="clear:both"></div></div>'
            lotstr+='<table class="myTable" style="margin-bottom:30px;">'
        lotstr +="<tr class='assetrowmain'>";
            lotstr+='<td style="width:200px;"></td><td ></td><td style="width:300px;"></td>'
        lotstr +="</tr>";
            ap.properties.forEach(l=>{
        var auctiondate = ''
        if(l.datetime){
            auctiondate = "Auction Date: "+formatDateTimeMe(l.datetime)+"<div>"; 
        }
        lotstr +="<tr class='assetrow'>";
        lotstr +="<td style='border-bottom:0px;'><div class='lotitmlstimgtd' style='background-image: url("+l.uri+");'>&nbsp;</div></td>";
        lotstr +="<td><table class='lotdetailstable' width='100%' height='110px'><tr><td style='vertical-align:top;padding:10px 10px;'><a href='/portal/property/"+l.id+"' >"+l.propname+"</a></td></tr><tr height='100%'><td style='vertical-align: bottom;padding:0px 10px;'>*Guide | <strong>"+formatToCurrency(l.price)+"</strong>+ (plus fees)</td></tr></table></td>"
        lotstr +="<td><table class='lotdetailstable' width='100%' height='110px'><tr><td style='vertical-align:top;padding:10px 10px;text-align:right;'>"+auctiondate+"</td></tr><tr height='100%'><td style='vertical-align: bottom;text-align:right;padding:10px 10px;'>";
        if(ap.status == 7){
            var ischecked = ''
            if(l.bid_interest){
                ischecked = ' checked '
            }
            lotstr+=`
<div class="toggle-switch" tabindex="0">
  <input type="checkbox" name="my_checkbox" value="yes" class="mycheckbox" id="checkbox-${l.customerpropertyid}" ${ischecked} />
  <label for="checkbox-${l.customerpropertyid}">
    Deposit
    <div class="area" aria-hidden="true">
      <div class="background">
        <div class="handle"></div>
      </div>
    </div>
   
  </label>
</div>`
        }
        lotstr+="</td></tr></table></td>"
        lotstr +="</tr>";
    })
    lotstr +='</table>'
})


    
    $('#myproperties').append(lotstr);
   $('.mycheckbox').change(function(){
       var myid = this.id.split('-')[1]
       var mycheck = 0;
       if(this.checked) {
        mycheck = 1;
    }
       $.post('/auctionaction/biddeposit',{myid,mycheck},function(){
        window.location.reload()
       },'json')
   })
</script>
  </div>
</div>