<%- include('../partials/menu-portal.ejs')%>
<div class='main'>
  <div class='maincontentt'>
    <div class='pagetitle'>Company Details</div>
</div>
<div class='maincontent'>
  <div>
<h4>Members/Share Holders</h4>
All Stakeholders within the company with a share of higher then 20% must be complete a credit check to register for bidding as company
<a href='/portal/addcompanymember'><button class='sitebtn-small2'>Add Member</button></a>
<ul>
  <%members.forEach(m => {
    var tmpname = '';
    if(m.forename){
      tmpname= m.forename + ' ' +m.surname 
    }else{
      tmpname= m.username
    }
    %><li><%-tmpname%></li><%
  });%>
    
</ul>
</div>
</div>