<%- include('../partials/menu-portal.ejs')%>
<style>
    .checklist>div>img{
        display: inline-block;
        margin-left:20px;
        margin-right:20px;
        height:24px;
        vertical-align: middle;
    }
    .checklist>div{
        font-size: 14px;
        font-weight: 400;
        margin-bottom:10px;
    }
    .sectionError{
    color:rgb(199, 0, 0);
    font-weight: 700;
    font-size: 14px;
  }
  .mycontainer{
    max-width:1200px;
    min-width: 800px;
    margin:0px auto;
}
</style>
<div class='mycontainer' style='padding:20px;'>
    <div class='inrow-70-padr' style='padding-right:30px;'>
        <div class='dash-box'>
            <div class='dash-title'>Welcome</div>
            <div class='dash-content'>
                <p>Dear Potential Home Owner,</p>
                <p>Auction House would like to ensure that your process of working with us is as smooth as possible. This portal allows you to do meet the prerequisite to bid on a property.</p>
                <p>Regards</p>
                <p>Auction House</p>
            </div>
        </div>


</div>
<div class='inrow-30'>
    <div class='dash-box'>
        <div class='dash-title'>Online Bidding Eligibility</div>
        <div class='dash-content'>
            <div class='checklist'>
            <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACJUlEQVQ4jY2TS2gTURSG/zuTOzNJtTFNSKYxaClKkaKYttRdRYTGByoWl26LCrpwEZG6MHURpO5c6MKdYFYWhUhpQEtBN4JoKejCkqo105mkeWKaZmaSjAuTksdYPbv7n/8759zLuQQmEZydGfK5nOM8Tz2GQQxN01LJbGY+fPHWUruXNB/uzT30e12ukMfhOM1TjjbnVF3TlWx2TkqnQqGzN5c6CoQXHp0/KPoe221dXrOpGlEobUpxef3a7ZNXowDANjoP+PZF/gUDgEC5bpsgjA2eGV1YjMQUBgB6nc7p/4F5lgcA2G1de71uz10AYIOzM0ODfX33LSzL7gTv4e0YFUdQ0AooV8qwcnz/gRP+KONzOcfbH8wM9ruPIlFMIFfO/5mGUs7d4wgwVp4TW+5oEcAStgNe+/UTK7l4S2HKUa+lVmvtdqhnACxh8Cm1jN3crm04nl/tmMwgqDGaXpGbxc+ZL6AMxbDHX4fXTGEA0NWKzCjZjZiqa3pD1Ko6PiQ/ghCCRDGBeP6bKbylarqSTscIADx5/+zlfo94odnAEhZVo2oKA8CPpPxi8tjlCQYApHQqVCiVpGbDTnBhsyjJueQ0UN/ExUhMGZ44vmIThDGBct1/Jevw93XlylTgxtvtAgDw+umrr4fPjbypGES0cnx/+2JtqZqeyGxEVxVp8k7g+ruG3vIbGzH1/MGRXpfzlIWnIgBUVF2R05n58KXgcrv3NxQ7zhH6RKo9AAAAAElFTkSuQmCC"/>Bid Eligibilty Status: <strong>Not Available</strong></div>
            <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACJUlEQVQ4jY2TS2gTURSG/zuTOzNJtTFNSKYxaClKkaKYttRdRYTGByoWl26LCrpwEZG6MHURpO5c6MKdYFYWhUhpQEtBN4JoKejCkqo105mkeWKaZmaSjAuTksdYPbv7n/8759zLuQQmEZydGfK5nOM8Tz2GQQxN01LJbGY+fPHWUruXNB/uzT30e12ukMfhOM1TjjbnVF3TlWx2TkqnQqGzN5c6CoQXHp0/KPoe221dXrOpGlEobUpxef3a7ZNXowDANjoP+PZF/gUDgEC5bpsgjA2eGV1YjMQUBgB6nc7p/4F5lgcA2G1de71uz10AYIOzM0ODfX33LSzL7gTv4e0YFUdQ0AooV8qwcnz/gRP+KONzOcfbH8wM9ruPIlFMIFfO/5mGUs7d4wgwVp4TW+5oEcAStgNe+/UTK7l4S2HKUa+lVmvtdqhnACxh8Cm1jN3crm04nl/tmMwgqDGaXpGbxc+ZL6AMxbDHX4fXTGEA0NWKzCjZjZiqa3pD1Ko6PiQ/ghCCRDGBeP6bKbylarqSTscIADx5/+zlfo94odnAEhZVo2oKA8CPpPxi8tjlCQYApHQqVCiVpGbDTnBhsyjJueQ0UN/ExUhMGZ44vmIThDGBct1/Jevw93XlylTgxtvtAgDw+umrr4fPjbypGES0cnx/+2JtqZqeyGxEVxVp8k7g+ruG3vIbGzH1/MGRXpfzlIWnIgBUVF2R05n58KXgcrv3NxQ7zhH6RKo9AAAAAElFTkSuQmCC"/>Actions to Complete</div>
            <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACJUlEQVQ4jY2TS2gTURSG/zuTOzNJtTFNSKYxaClKkaKYttRdRYTGByoWl26LCrpwEZG6MHURpO5c6MKdYFYWhUhpQEtBN4JoKejCkqo105mkeWKaZmaSjAuTksdYPbv7n/8759zLuQQmEZydGfK5nOM8Tz2GQQxN01LJbGY+fPHWUruXNB/uzT30e12ukMfhOM1TjjbnVF3TlWx2TkqnQqGzN5c6CoQXHp0/KPoe221dXrOpGlEobUpxef3a7ZNXowDANjoP+PZF/gUDgEC5bpsgjA2eGV1YjMQUBgB6nc7p/4F5lgcA2G1de71uz10AYIOzM0ODfX33LSzL7gTv4e0YFUdQ0AooV8qwcnz/gRP+KONzOcfbH8wM9ruPIlFMIFfO/5mGUs7d4wgwVp4TW+5oEcAStgNe+/UTK7l4S2HKUa+lVmvtdqhnACxh8Cm1jN3crm04nl/tmMwgqDGaXpGbxc+ZL6AMxbDHX4fXTGEA0NWKzCjZjZiqa3pD1Ko6PiQ/ghCCRDGBeP6bKbylarqSTscIADx5/+zlfo94odnAEhZVo2oKA8CPpPxi8tjlCQYApHQqVCiVpGbDTnBhsyjJueQ0UN/ExUhMGZ44vmIThDGBct1/Jevw93XlylTgxtvtAgDw+umrr4fPjbypGES0cnx/+2JtqZqeyGxEVxVp8k7g+ruG3vIbGzH1/MGRXpfzlIWnIgBUVF2R05n58KXgcrv3NxQ7zhH6RKo9AAAAAElFTkSuQmCC"/>Anti Money Laundering: Not Completed/ Valid until DD-MM-YYYY</div>
            <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACE0lEQVQ4jY2TTWgTURSFz7zMTzKdhhajSTMaIYQQFIKtuBUXEhWqNQouuhPUIgWhiF24cboRQUKXgnStcVVDpLaoK90bXFhSo00DM6kztDVO8zMzIXZREyY/jd7dO+98h3sv71HoUVJyfkwc9MY4mvFShPpTM01VLv9clm7MZDq9lP2QSC2MHhU8kn/g8CUXzTH2u2rdsORddamgK9JsfDrTFZBIPb8S9YSfDXOCv1dXzdoxfsur2xt3712+mW4FJFILo1FP6M2/YHvIZ3V1fDY+nSEAMDJwaO5/YIbZn2qYc4sBt/gIABxScn7s1JHwE4bQjn6wIAiIRCIol8swTRM84wyK50+kiTjojXUurBccCoWgaRp0XQcAOB0se9w9coHwnNNnN7MsC0JIF6yqKmRZbgvmaNZPNxqNNjEQCIAQglwuB57nW7CiKN2tUWiQqmkU7Vo+nwdN0wiHw/1hADXTLBKloq5U64bVFOv1OrLZLCiKgqZpB8IVq2atl+QVCgCS7xdfh4aOTdgNhBB0jmevte2NxcnY9WsEAAq6Iu0YetuG+sFb1ZJc2JXnAMABAO9eLW2eiZ/7JrCusy6acx9I/oW/l5SpmYk7H1sBAPD2ZWrt5PjpDw1QPp5xBmniaHtYFatmrevF9Net/O37V299auptv7FZD188jQaHxIscw/oAwLDMzR+/5OXHkw++dHr3AMDRzrpJpkAuAAAAAElFTkSuQmCC">Document Verification: Not Completed</div>
            <div><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACE0lEQVQ4jY2TTWgTURSFz7zMTzKdhhajSTMaIYQQFIKtuBUXEhWqNQouuhPUIgWhiF24cboRQUKXgnStcVVDpLaoK90bXFhSo00DM6kztDVO8zMzIXZREyY/jd7dO+98h3sv71HoUVJyfkwc9MY4mvFShPpTM01VLv9clm7MZDq9lP2QSC2MHhU8kn/g8CUXzTH2u2rdsORddamgK9JsfDrTFZBIPb8S9YSfDXOCv1dXzdoxfsur2xt3712+mW4FJFILo1FP6M2/YHvIZ3V1fDY+nSEAMDJwaO5/YIbZn2qYc4sBt/gIABxScn7s1JHwE4bQjn6wIAiIRCIol8swTRM84wyK50+kiTjojXUurBccCoWgaRp0XQcAOB0se9w9coHwnNNnN7MsC0JIF6yqKmRZbgvmaNZPNxqNNjEQCIAQglwuB57nW7CiKN2tUWiQqmkU7Vo+nwdN0wiHw/1hADXTLBKloq5U64bVFOv1OrLZLCiKgqZpB8IVq2atl+QVCgCS7xdfh4aOTdgNhBB0jmevte2NxcnY9WsEAAq6Iu0YetuG+sFb1ZJc2JXnAMABAO9eLW2eiZ/7JrCusy6acx9I/oW/l5SpmYk7H1sBAPD2ZWrt5PjpDw1QPp5xBmniaHtYFatmrevF9Net/O37V299auptv7FZD188jQaHxIscw/oAwLDMzR+/5OXHkw++dHr3AMDRzrpJpkAuAAAAAElFTkSuQmCC">Bidding Deposit: Not Completed</div>
            </div>
        </div>
    </div>
    


</div>
<div style='clear:both;'></div>
<% if(!customer.isVerified){%>
    <div class='dash-box' id='verifyboxmain'>
         <div class='dash-title'>E-Mail Verification Pending *</div>
         <div class='dash-content'  style='text-align: center;''>
             <div id='verficationcoderequest'>
             <p>Your account still requires verification, you should have recieved a link with a code:</p>
             <div style='width:400px;max-width:100%;margin:0px auto;text-align: center;'><div id='error-code' class='sectionError'></div><input id='verficationcode' type='text' class='mytxt' placeholder="verification code" style='text-align:center;box-sizing: border-box;font-weight:700'/><button class='sitebtn-small2 ' id='btnVerify'>Verify</button></div>
             <div style='clear:both'></div>
             </div>
         </div>
     </div>
     <%}%>
<div class='dash-box'>
    <div class='dash-title'>Next Online Auction</div>
    <div class='dash-content'>
        Please click <a href='https://stream.tahid.co.uk'>here</a> to access the Online Auction

    </div>
</div>
</div>

<script>
$(function(){

    $('#btnVerify').click(function(){
        $('#error-code').html('')
        var verficationcode = $('#verficationcode').val()
        if(verficationcode.length==6){
            $.post('/profile/verifycode',{verficationcode},function(data){
                console.log(data)
                if(data.status){

                    $('#verficationcoderequest').html('DONE')
                    $('#verifyboxmain').html('')
                }else{
                    $('#error-code').html('Looks like your the code does not match')
                }
            },'json')
        }else{
            $('#error-code').html('Looks like your missing digits')
        }
    })


})
</script>