<%- include('../partials/menu-portal.ejs')%>
<%

function formatDateTimeMe(date) {
    var d = new Date(date),
    month = '' + (d.getMonth() + 1),
    day = '' + d.getDate(),
    year = d.getFullYear(),
    hours = d.getHours(),
    mins = d.getMinutes();
    if (month.length < 2)  month = '0' + month;
    if (day.length < 2) day = '0' + day;
    if (hours.length < 2) hours = '0' + hours;
    if (mins.length < 2) mins = '0' + mins;
   console.log(mins)
    var strTime = `${day}/${month}/${year} ${hours}:${mins}`;
    return strTime;
    }
%>
<style>
    .checklist>div>img{
        display: inline-block;
        margin-left:20px;
        margin-right:20px;
        height:24px;
        vertical-align: middle;
    }
    .checklist>div{
        -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        font-weight: 600;
        margin-bottom:10px;
        vertical-align: top;
    }
    .checklist>div>i{
        -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        font-weight: 600;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }


    .sectionError{
    color:rgb(199, 0, 0);
    font-weight: 700;
    font-size: 14px;
  }
  .mycontainer{
    max-width:1200px;
    min-width: 800px;
    margin:0px auto;
}
.startbtn{
    background-color:#188601;
    border-radius: 10px;
    font-size:18px;
    padding:8px 16px;
}
</style>
<div class='mycontainer' style='padding:20px;'>
 
        <div class='dash-box' >
            <div class='dash-title'>Welcome</div>
            <div class='dash-content'>
                <p>Dear Potential Home Owner,</p>
                <p>Auction House would like to ensure that your process of working with us is as smooth as possible. This portal allows you to do meet the prerequisite to bid on a property.</p>
                <p>Regards</p>
                <p>Auction House</p>
                <div style='text-align: center;padding-top:40px;'>
                    <a href='/portal/profile'><button class='sitebtn-small2 startbtn'>Start Your Journey</button></a>
                </div>
            </div>
        </div> 


<div class='inrow-50' style='padding-right:30px;box-sizing: border-box;'>
 
    <div class='dash-box' style='min-height:300px;'>
        <div class='dash-title'>Online Bidding Eligibility</div>
        <div class='dash-content'>
            <div class='checklist'>
                <div><i class="fa fa-check-circle"></i>Verify Account</div>
                <div><i class="fa fa-check-circle"></i>Update Bidding Profile <a href='/portal/profile'>click here</a></div>
                <div><i class="fa fa-check-circle"></i>Upload Verification Documents <a href='/portal/profile'>click here</a></div>
           </div>
        </div>
    </div>
    

</div>
<div class='inrow-50'>

    <div class='dash-box' style='min-height:300px;'>
        <div class='dash-title'>AML Status</div>
        <div class='dash-content'>
            WAITING
        </div>
    </div>
    

</div>
<div style='clear:both;'></div>
<% if(!customer.isVerified){%>
    <div class='dash-box' id='verifyboxmain'>
         <div class='dash-title'>E-Mail Verification Pending *</div>
         <div class='dash-content'  style='text-align: center;''>
             <div id='verficationcoderequest'>
             <p>Your account still requires verification, you should have recieved a link with a code:</p>
             <div style='width:400px;max-width:100%;margin:0px auto;text-align: center;'><div id='error-code' class='sectionError'></div><input id='verficationcode' type='text' class='mytxt' placeholder="verification code" style='text-align:center;box-sizing: border-box;font-weight:700'/>
             <button class='sitebtn-small2 ' id='btnVerify' style='margin-top:30px;'>Verify</button>
            </div>
             <div style='clear:both'></div>
             </div>
         </div>
     </div>
     <%}%>


     <% 
     
     auctions.forEach(a => {
        if(a.status==3){ %>
            <div class='dash-box'>
    <div class='dash-title'>Taking Bidding Deposits</div>
    <div class='dash-content'>
        Auction: <%-formatDateTimeMe(a.datetime)%>
        
    </div>
</div>
        
        <%
        }
     });
     
     
     %>

<div class='dash-box'>
    <div class='dash-title'>Join Live Steam</div>
    <div class='dash-content'>
        Please click <a href='https://stream.tahid.co.uk'>here</a> to access the Online Auction

    </div>
</div>
</div>

<script>
$(function(){

    $('#btnVerify').click(function(){
        $('#error-code').html('')
        var verficationcode = $('#verficationcode').val()
        if(verficationcode.length==6){
            $.post('/profile/verifycode',{verficationcode},function(data){
                console.log(data)
                if(data.status){

                    $('#verficationcoderequest').html('DONE')
                    $('#verifyboxmain').html('')
                }else{
                    $('#error-code').html('Looks like your the code does not match')
                }
            },'json')
        }else{
            $('#error-code').html('Looks like your missing digits')
        }
    })


})
</script>