<%
activepage = 2;%>
<%-
include('../partials/portal-header.ejs')
%>
<title>Property Favourites - Auction House</title>
<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
        My Saved Properties
      </h1>
    </div>
  </header>
<div class='main'>

  <div class='maincontent'>
<style>

    .lotitem:hover{
        border:2px solid #c8102e;
        box-sizing: border-box;

    }
    .lotno{
        height:30px;
        text-align: center;
        background-color: #c8102e;
        color:#fff;
    }
    .lotitmlstimgtd{
        width: 100%;
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
background-position: center;
margin:0px;
padding-top:15%;
flex:2;
    }
    .assetdescription{
        flex:4;
        padding:20px;
        display:flex;
    }
.assetrow{
    background-color: #e8e8e8;
    border:none;
    border-bottom: 1px solid #dae0e3;
    padding:0px;
    margin-bottom:20px;
    color:#777;
    display:flex;
}
.assetname{
    font-weight: 500;
    color:#333;
   
}
.assetname a{
    font-size: 14px;
    text-decoration: none;
    color: unset;
}
.assetprice{
    flex:1;
    padding:0px 10px;
    display:flex;
    flex-direction: column;

}
.assetpricedetail{
    text-align:right;
}
.assetdatedetail{
    text-align:right;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .assetrow {
    display:unset;
  }
  .lotitmlstimgtd{
    padding-top:50%;
  }
}

.myremoveprop{
    text-decoration: none;
    color:red;
    font-weight: 600;
}
#myproperties{
    width:100%;
}
.auctiontitle{
    padding:8px 8px;
    background: #c50505;
    color:#fff;font-weight: 500;
    border-radius: 5px;
    margin-bottom: 20px;
    }
    button.btn-6 {
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 2px solid black;
    background: white;
    font-size: 10px;
}
button.btn-6.small {
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 2px solid black;
    background: white;
    font-size: 10px;
    min-width:150px;
    margin-top:20px;
}
button.btn-6:hover {
    background-color: black;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
</style>
 
        <div id='myproperties'>

        </div>
     
<script>
    <%console.log(lots)%>
    var lots = <%-JSON.stringify(lots)%>;
    const formatToCurrency = amount => {
        return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    };
    const months = {
  0: 'January',
  1: 'February',
  2: 'March',
  3: 'April',
  4: 'May',
  5: 'June',
  6: 'July',
  7: 'August',
  8: 'September',
  9: 'October',
  10: 'November',
  11: 'December'
}
const days = [
  'Sun',
  'Mon',
  'Tue',
  'Wed',
  'Thu',
  'Fri',
  'Sat'
]
    function formatDateTimeMe(date) {
    var d = new Date(date),
    monthIndex = '' + (d.getMonth());
    var monthName = months[monthIndex]
    var day = '' + d.getDate(),
    year = d.getFullYear(),
    hours = d.getHours().toString(),
    mins = d.getMinutes().toString();
    const dayIndex = d.getDay()
const dayName = days[dayIndex]
    if (day.length < 2) day = '0' + day;
    if (hours.length < 2) hours = '0' + hours;
    if (mins.length < 2) mins = '0' + mins;
   
    var strTime = `${dayName}, ${day} ${monthName} ${year} @ ${hours}:${mins}`;
    return strTime;
    }
    var auctionproperties = []
    var apfound = false;
    lots.forEach(l=>{
        apfound = false
        auctionproperties.forEach(ap=>{
            if(ap.date == l.datetime){
                apfound = true;
                ap.properties.push(l)
            }
        })
        if(!apfound){
            var newauctionproperty = {date:l.datetime,status:l.auctionstatus,properties:[l],auctionid:l.auctionid}
            auctionproperties.push(newauctionproperty)
        }
    })
    var lotstr =''
     
    function moveToFirst( stringToMove, arrayIn ){
      if ( arrayIn.includes(stringToMove) ){
        let currentIndex = arrayIn.indexOf(stringToMove);
        arrayIn.splice(currentIndex, 1);
        arrayIn.unshift(stringToMove);
      } 
    }
    function moveToTheEnd( stringToMove, arrayIn ){
    if ( arrayIn.includes(stringToMove) ){
        let currentIndex = arrayIn.indexOf(stringToMove);
        arrayIn.splice(currentIndex, 1);
        arrayIn.push(stringToMove);
      }
    }
    auctionproperties.forEach(ap=>{
        if(ap.status == 7){
            console.log('Move to First')
            moveToFirst(ap,auctionproperties);
        }
        if(!ap.date){
            console.log('Move to Last')
            moveToTheEnd(ap,auctionproperties);
        }
    })


        auctionproperties.forEach(ap=>{
            var auctiondate = 'Awaiting Auction Date'
            if(ap.date){
                auctiondate = 'Auction Date: '+formatDateTimeMe(ap.date) +'<a href="/portal/auctionattendence/'+ap.auctionid+'"><button class="btn btn-6" style="float:right;">Register To Attend Auction</button>'
            }

            lotstr+='<div class="auctiontitle">'+auctiondate+'<div style="float:right;"></div><div style="clear:both"></div></div>'
            lotstr+='<div class="auctionproperties">'
                // if(ap.status == 7){
                // lotstr+='<div style="padding:8px 8px;background: green;color:#fff;font-weight: 500;">Online Deposits Open</div>'
                // }
            ap.properties.forEach(l=>{
        
        lotstr +="<div class='assetrow' id='assetrow-"+l.id+"'>";
        lotstr +="<div class='lotitmlstimgtd' style='background-image: url("+l.uri+");'>&nbsp;</div>";
        lotstr +="<div class='assetdescription'><div class='assetname'><a href='/portal/property/"+l.id+"' >"+l.propname+"</a></div><div class='assetprice'><div class='assetpricedetail'>*Guide | <strong>"+formatToCurrency(l.price)+"</strong>+ (plus fees)</div>"
        lotstr +='<div class="assetdatedetail"><a  href="/legalpack/'+l.id+'"><button class="btn btn-6 small">Legal Pack</button></a></div>';
        lotstr +='<div class="assetdatedetail"><button class="btn btn-6 small" onclick="removeSavedProperty('+l.id+')">Remove</button></div>';
        if(ap.status == 7){
            var ischecked = ''
            if(l.bid_interest){
                ischecked = ' checked '
            }
        }
        lotstr+="</div></div></div>"
        lotstr +="</div>";
    })
    lotstr +='</div>'
})


    
    $('#myproperties').append(lotstr);

   $('.mycheckbox').change(function(){
       var myid = this.id.split('-')[1]
       var mycheck = 0;
       if(this.checked) {
        mycheck = 1;
    }
       $.post('/auctionaction/biddeposit',{myid,mycheck},function(){
        window.location.reload()
       },'json')
   })
   function removeSavedProperty(propertyid){
       
       $.post('/removefromfav',{propertyid:propertyid},function(data){
        $('#assetrow-'+propertyid).hide();
  },'json')
      
    /*$.post('/auctionaction/add',{myid,mycheck},function(){
        window.location.reload()
       },'json')*/
   }
</script>
  </div>
</div>