<%- include('../partials/menu-portal.ejs')%>
<style>
    .banner{
        background: url('branding/pngtree-hand-drawn-cartoon-house-print-ad-image_148888.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height:400px;
        width:100%;
    }
    .submenu{
        margin:10px 30px;
        padding:10px 20px;
        border-bottom:2px solid #000;
    }
    .mitem{
        display: inline-block;
        margin-right:20px;
        cursor: pointer;
    }
    .right{
        float:right;
    }
    .lotitem{
        float:left;
        background: #fff;
        width:25%;
        max-width:240px;
        min-width:140px;
        margin:30px 0px 30px 30px;
        cursor: pointer;
        box-sizing: border-box;
        border:1px solid #ccc;
    }
    .lotitem:hover{
        border:2px solid c8102e;
        box-sizing: border-box;

    }
    .lotno{
        height:30px;
        text-align: center;
        background-color: #c8102e;
        color:#fff;
    }
    .lotPrice{
        padding:10px;
        text-align: center;
        background-color: #c8102e;
        color:#fff;
        text-align: center;
        font-size: 12px;;

    }
    .lotDesc{
        min-height:85px;
        color:#333;
        text-align: center;
        padding:16px;
        overflow: hidden;
        font-size: 15px;
    }
    .lotitmlstimgtd{
        width: 100%;
padding-top: 50%;
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
background-position: center;
    }
.assetrow td{
    background-color: #f8f9fa;
    border:none;
    border-bottom: 1px solid #dae0e3;
    padding:0px;
}

.myTable{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

}
.imgcont{
    box-sizing: border-box;
    padding:20px  !important;
}
.assetrowmain td{
    background-color: #fff;
}
</style>

    <div style='padding:20px;'>   
        <div id='myproperties'>

        </div>
        <div style='clear:both'></div>
    </div>

<script>
    var lots = <%-JSON.stringify(lots)%>;
    const formatToCurrency = amount => {
        return "£" + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
    };
    /*
    var lotstr =''
    lots.forEach(l=>{
        lotstr +="<a href='/portal/lot/details/"+l.id+"''><div class='lotitem'>";
        if(l.bid_interest){lotstr +="<div style='padding:10px;'> Bidding Enabled</div>";}
        lotstr +="<div class='lotno'>Lot "+l.id+l.bid_interest+"</div>"
        lotstr +="<div class='lotitmlstimg' style='background-image: url("+l.uri+");'></div><div class='lotPrice'>*Guide | "+formatToCurrency(l.price)+"+ (plus fees)</div><div class='lotDesc'>"+l.propname+"</div><div style='clear:both'></div> </div></a>"
      
    })
    $('#myproperties').html(lotstr);
*/

    var lotstr ='<table class="myTable">'
        lotstr +="<tr class='assetrowmain'>";
        lotstr +="<td style='width:200px;'d>&nbsp;</td><td><div class='lotPric'>*Guide | + (plus fees)</div></td><td><div class='lotDesc'></div></td>"
        lotstr +="</tr>";
    lots.forEach(l=>{
        lotstr +="<tr class='assetrow'>";
        lotstr +="<td class='imgcont'><div class='lotitmlstimgtd' style='background-image: url("+l.uri+");'>&nbsp;</div></td><td><div class='lotPric'>*Guide | "+formatToCurrency(l.price)+"+ (plus fees)</div></td><td><div class='lotDesc'>"+l.propname+"</div></td>"
        lotstr +="</tr>";
    })
     lotstr +='</table>'
    console.log(lotstr)
    $('#myproperties').append(lotstr);
</script>