<div class='banner-top'>
    <div class="banner-top-bg2"></div> 
<div class='container'>
<div class='banner-top-left'>
    <a href='/valuation' class='valuationlink'>Book your free valuation <span>&rarr;</span></a>
</div>
<div class='banner-top-right'>
    <i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-instagram"></i>
</div>
</div>
<div style='clear:both;'></div>
</div>