<style>
    .footer {
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 35px;
    min-height: 300px;
    text-align: center;
    background: #1a191a;
color: #fff;
}
.footer a{
    text-decoration: none;;
}
.spl25 {
    text-align: left;
    min-width: 180px;
    max-width: 400px;
    vertical-align: top;
    display: inline-block;
    width: 24%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px;
}
.footersectitle {
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.spl25 >div>a{
    font-size:12px;
    color:#aaa;
    display: block;
    margin-bottom: 8px;;
}
</style>
<div class="footer">
    <div class='mycontainer'>
    <div class="spl25">
    <div class="branding" style="color:#fff;"> <img class="brandinglogofooter" style='vertical-align: middle;height:45px;margin-right:20px;' src="/images/logo.png"></div>
    <div style='padding-top:20px;'><span class="brandingfontfooter">Auction House</span></div>
    <div style="margin-top:20px;font-size:12px;color:#aaa;">Auction House Essex<br>Hillsboro, 377 Southchurch Road,<br>Southend-on-Sea SS1 2PQ<br><br>01702 33 33 99</div>
    <div style="margin-top:20px;font-size:12px;color:#aaa;">Auction House Kent<br>GHL House, 12-14 Albion Place,<br>Maidstone ME14 5DZ<br><br>01622 589 623</div>
    </div>
    <div class="spl25">
    <div class="footersectitle">Services</div>
    <div><a href='/guide'>Sell at Auction</a></div>
    <div><a href='/about-us'>Sell my home quickly</a></div>
    </div>
    <div class="spl25">
    <div class="footersectitle">Other</div>
    <div><a href='/about-us'>About us</a></div>
    <div><a href='/contact-us'>Contact us</a></div>
    <div><a href='/about-us'>Property News</a></div>
    </div>
    <div class="spl25">
    <div class="footersectitle">Follow</div>
    <div>
        <div class="banner-top-right" style='font-size: 30px;'>
            <i class="fab fa-facebook-square"></i> <i class="fab fa-twitter-square"></i> <i class="fab fa-instagram"></i>
        </div>
    </div>
</div>
</div>