<footer>
    <div class='container'>
    <div class='footer-left'>
      <div><img style='height:60px;padding:1em 2em' class="ah-logo-footer" alt="Auction House Logo" src="/images/logo.png"></div>
      <div  class='footer-content'><a href='#'>Privacy Policy</a> | <a href='#'>Cookie Policy</a></div>
      <div class='footer-content'> &#169; Auction House UK 2021</div>
        
      <div class='footer-content'>Auction House&#174; and associated logos are registered trademarks of Auction House UK Ltd</div>
  
    </div>
  <div class='footer-right'>
    
      <div class='footer-title'>Additional Fees Information</div>
      <div class='footer-content'>
      *Guides are provided as an indication of each seller’s minimum expectation. They are not necessarily figures which a property will sell for and may change at any time prior to the auction. Each property will be offered subject to a Reserve (a figure below which the Auctioneer cannot sell the property during the auction) which we expect will be set within the Guide Range or no more than 10% above a single figure Guide.
    </div>
      <div class='footer-title'>Additional Fees Information</div>
      <div class='footer-content'>
      *Please be aware there may be additional fees payable on top of the final sale price. This include and are not limited to administration charges and buyer’s premium fees payable on exchange, and disbursements payable on completion. Please ensure you check the property information page for a list of any relevant additional fees as well as reading the legal pack for any disbursements.
      </div>
  </div>
  </div>
</footer>