<div class='container' style='margin-top:30px;'>

    <div class='tagmsg'>Bid, win and close <span class='strong'>with confidence</span></div>
      <div class='section-box'>
        <a href='/auction-rooms'><div class='categorychoiceimg' id='cat-auctionroom'></div>
        <div class='categorychoicemsg'>Auction Rooms</div>
        </a>
      </div>
      <div class='section-box'>
        <a href='/auction-online'>
        <div class='categorychoiceimg' id='cat-onlineauctions'></div>
        <div class='categorychoicemsg'>Online Auctions</div>
      </a>
      </div>
      <div class='section-box'>
        <a href='/auction-upcoming'>
        <div class='categorychoiceimg' id='cat-upcomingauctions'></div>
        <div class='categorychoicemsg'>Upcoming Auctions</div>
        </a>
      </div>
      <div class='section-box'>
        <a href='/auction-results'>
        <div class='categorychoiceimg' id='cat-auctionresults'></div>
        <div class='categorychoicemsg'>Auction Results</div>
        </a>
      </div>
      <div style='clear:both;'></div>
    </div>