<div class='homecontainer'>

    <div class='tagmsg'>Bid, win and close <span class='strong'>with confidence</span></div>
      <div class='section-box'>
        <a href='/auction-rooms'><div class='categorychoiceimg' id='cat-auctionroom'></div>
        <div class='categorychoicemsg'>Auction Rooms&nbsp;&nbsp;&nbsp;</div>
        </a>
      </div>
      <div class='section-box'>
        <a href='/auction-lots'>
        <div class='categorychoiceimg' id='cat-onlineauctions'></div>
        <div class='categorychoicemsg'>Online Auctions&nbsp;&nbsp;&nbsp;</div>
      </a>
      </div>
      <div class='section-box'>
        <a href='/auction-upcoming'>
        <div class='categorychoiceimg' id='cat-upcomingauctions'></div>
        <div class='categorychoicemsg'>Upcoming Auctions&nbsp;&nbsp;&nbsp;</div>
        </a>
      </div>
      <div class='section-box'>
        <a href='/auction-results'>
        <div class='categorychoiceimg' id='cat-auctionresults'></div>
        <div class='categorychoicemsg'>Auction Results&nbsp;&nbsp;&nbsp;</div>
        </a>
      </div>
      <div style='clear:both;'></div>
    </div>