<script src="//localhost:35729/livereload.js?snipver=1" async="" defer=""></script> 
<div class='main'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/login.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/svg-with-js.min.css" integrity="sha512-cNvC5iR8rfuBpqb4VRh48Y77JTM5nwjsEBQYS/LHzoWyf4bmmQ8LNMbg5KsEFOBO5vGbLUXwH3BAjG0m0oNWqA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/solid.min.css" integrity="sha512-xIEmv/u9DeZZRfvRS06QVP2C97Hs5i0ePXDooLa5ZPla3jOgPT/w6CzoSMPuRiumP7A/xhnUBxRmgWWwU26ZeQ==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

          <style>
              .mywrapper{
                  display: flex;
                  padding:0px 20px;
              }
              .header2{
                  display: none;
                  padding:0px 20px;
              }
              @media only screen and (max-width: 600px) {
                .mywrapper{
                  display: none;
              }
              .header2{
                  display: unset;
                  padding:0px 20px;
              }
              header{
                  padding:0px;
              }
}   
              
              .flex1{
                  display: flex;
  order: 1;
  flex: 0 1 1;
  align-self: flex-end;
  flex-grow: 1;
  
} .flex2{
                  display: flex;
  order: 1;
  flex: 0 1 1;
  align-self: flex-start;
  flex-grow: 1;
  justify-content: flex-end;
  padding-top:30px;
  
}
header nav{
    margin-bottom: 20px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-list>li{
        display: block;
    }
              </style>
              <title>Auction House</title>
              </head>
            <header>
                <div class='header2'>
                    <div class='flex1' style='float:left;padding:10px;  '><a href="/" class="logo"><img class="ah-logo-header" alt="Auction House Logo" src="/images/logo.png" /></a></div>
                        <div class="hamburger" style='float:right;padding:20px;'>
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                        <div>
                            <!-- <ul class='nav-list'>
                                <li><a href='/' >Home</a></li>
                                <li class="dropdown">
                                                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Auctions<span class="caret"></span></a>
                                                      <ul class="dropdown-menu">
                                                          <li><a href="/auction-lots">Auction Lots</a></li>
                                                          <li><a href="/auction-upcoming">Upcoming Auctions</a></li>
                                                          <li><a href="/auction-results">Auction Results</a></li>
                                                          <li><a href="/auction-rooms">Auction Rooms</a></li>
                                                          <li><a href="/AuctionConditions.pdf" target="_blank">Auction Conditions</a></li>
                                                          <li><a href="/auction-finance">Auction Finance</a></li>
                                                      </ul>
                                                  </li>
                                                  <li><a href="/guide">Auction Guide</a></li>
                                                </ul> -->
                        </div>
                    <div style='clear:both;'></div>
                </div>

    <div class='mywrapper'>
        <div class='flex1'><a href="/" class="logo"><img class="ah-logo-header" alt="Auction House Logo" src="/images/logo.png" /><!--<span style='display:inline-block;padding-left:50px;'>Auction House</span>--></a></div>
        <div class='flex2'>  <nav class='flex-item-bottom'>
        <ul class='nav' style='align-self: flex-end;'>
          <li><a href='/' >Home</a></li>
          <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Auctions<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/auction-lots">Auction Lots</a></li>
                                    <li><a href="/auction-upcoming">Upcoming Auctions</a></li>
                                    <li><a href="/auction-results">Auction Results</a></li>
                                    <li><a href="/auction-rooms">Auction Rooms</a></li>
                                    <li><a href="/AuctionConditions.pdf" target="_blank">Auction Conditions</a></li>
                                    <li><a href="/auction-finance">Auction Finance</a></li>
                                </ul>
                            </li>
                            <li><a href="/guide">Auction Guide</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/about-us">About Us</a></li>
                                    <!-- <li><a href="/media/news">News</a></li> -->
                                    <li><a href="/company/why-choose-auction-house">Why Choose Auction House</a></li>
                                    <!-- <li><a href="/company/become-a-partner-agent">Become a Partner Agent</a></li> -->
                                    <!-- <li><a href="/company/why-join-auction-house">Franchise Opportunities</a></li> -->
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </li>
                            <%if(isuser){%>
                                <li><a class='highlight' href="/portal/dashboard" title="My Account">My Account</a></li>
                            <%}else{%>
                                <li>
                                    <a href='/account/log-in'>Login</a>
                                </li>
                                <li>
                                    <a class='highlight' href='/account/register'>Register</a>
                                </li>     <%}%>
                          
        </ul>
      </nav>
    </div>
      </div>
    </div>
      <div style='clear:both'></div>
    </header>
    <script>
            const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");
        hamburger.addEventListener("click", mobileMenu);
function mobileMenu() {

    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}
        </script>