<script src="//localhost:35729/livereload.js?snipver=1" async="" defer=""></script> 
<div class='main'>
    <header>
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/login.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/fontawesome.min.css" integrity="sha512-shT5e46zNSD6lt4dlJHb+7LoUko9QZXTGlmWWx0qjI9UhQrElRb+Q5DM7SVte9G9ZNmovz2qIaV7IWv0xQkBkw==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/svg-with-js.min.css" integrity="sha512-cNvC5iR8rfuBpqb4VRh48Y77JTM5nwjsEBQYS/LHzoWyf4bmmQ8LNMbg5KsEFOBO5vGbLUXwH3BAjG0m0oNWqA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/solid.min.css" integrity="sha512-xIEmv/u9DeZZRfvRS06QVP2C97Hs5i0ePXDooLa5ZPla3jOgPT/w6CzoSMPuRiumP7A/xhnUBxRmgWWwU26ZeQ==" crossorigin="anonymous" />

          <style>
              .mywrapper{
                  display: flex;
                  padding:0px 20px;
              }
              .flex1{
                  display: flex;
  order: 1;
  flex: 0 1 1;
  align-self: flex-end;
  flex-grow: 1;
  
} .flex2{
                  display: flex;
  order: 1;
  flex: 0 1 1;
  align-self: flex-start;
  flex-grow: 1;
  justify-content: flex-end;
  padding-top:30px;
  
}
header nav{
    margin-bottom: 20px;
}
              </style>
    <div class='mywrapper'>
        <div class='flex1'><a href="#" class="logo"><img style='height:95px;;top:5px;vertical-align:middle' class="ah-logo-footer" alt="Auction House Logo" src="/images/logo.png" /><!--<span style='display:inline-block;padding-left:50px;'>Auction House</span>--></a></div>
        <div class='flex2'>  <nav class='flex-item-bottom'>
        <ul class='nav' style='align-self: flex-end;'>
          <li><a href='/' >Home</a></li>
          <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Auctions<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/auction-lots">Auction Lots</a></li>
                                    <li><a href="/auction-upcoming">Upcoming Auctions</a></li>
                                    <li><a href="/auction-results">Auction Results</a></li>
                                    <li><a href="/auction-rooms">Auction Rooms</a></li>
                                    <li><a href="/AuctionConditions.pdf" target="_blank">Auction Conditions</a></li>
                                    <li><a href="/auction-finance">Auction Finance</a></li>
                                </ul>
                            </li>
                            <li><a href="/guide">Auction Guide</a></li>
    <!-- 						
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Buying<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/buying-at-auction/buyers-route-to-auction-success">Guide to Buying at Auction</a></li>
                                    <li><a href="/buying-at-auction/benefits-of-buying-at-auction">Why Buy at Auction?</a></li>
                                    <li><a href="/buying-at-auction/how-to-bid-at-auction">Bidding at Auction</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Selling<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/selling-at-auction/sellers-route-to-auction-success">Guide to Selling at Auction</a></li>
                                    <li><a href="/selling-at-auction/benefits-of-selling-at-auction">Why Sell At Auction?</a></li>
                                    
                                    <li><a href="/selling-at-auction/probate-service">Probate / Executry Service</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Commercial<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/commercial">Commercial</a></li>
                                    <li><a href="/commercial/service">Commercial Auction Service</a></li>
                                    <li><a href="/commercial/partner-agent">Commercial Partner Agents</a></li>
                                </ul>
                            </li> -->
                            <!-- <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Online<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/online">Online</a></li>
                                    <li><a href="/online/sell">Online Auction Sellers Guide</a></li>
                                    <li><a href="/online/buy">Online Auction Buyers Guide</a></li>
                                </ul>
                            </li> -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/about-us">About Us</a></li>
                                    <!-- <li><a href="/media/news">News</a></li> -->
                                    <li><a href="/company/why-choose-auction-house">Why Choose Auction House</a></li>
                                    <!-- <li><a href="/company/become-a-partner-agent">Become a Partner Agent</a></li> -->
                                    <!-- <li><a href="/company/why-join-auction-house">Franchise Opportunities</a></li> -->
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </li>
                            <%if(isuser){%>
                                <li><a href="/portal/dashboard" title="My Account">My Account</a></li>
                            <%}else{%>
                                <li>
                                    <a href='/account/log-in'>Login</a>
                                </li>
                                <li>
                                    <a class='highlight' href='/account/register'>Register</a>
                                </li>     <%}%>
                          
        </ul>
      </nav>
    </div>
      </div>
    </div>
      <div style='clear:both'></div>
    </header>