@font-face {
    font-family: 'Butler';
    src: url('/dist/fonts/Butler-Medium.woff2') format('woff2'),
        url('/dist/fonts/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/dist/fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('/dist/fonts/BrandonGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/dist/fonts/BrandonGrotesque-Light.woff2') format('woff2'),
        url('/dist/fonts/BrandonGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('/dist/fonts/MinionPro-Regular.woff2') format('woff2'),
        url('/dist/fonts/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/dist/fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('/dist/fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('/dist/fonts/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('/dist/fonts/BrandonGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

