<%- include('../partials/menu-portal.ejs')%>
<title>Messages - Auction House</title>

<div class='main'>
    <div class='Messages'>
        <div class='pagetitle'>Dashboard</div>
    </div>
    <div class='maincontent'>
    <div class='sidepanelsmall'>
        <div class='summarybox'>Matches</div>
        <div class='summarybox'>Saved Properties</div>
        <div class='summarybox'>Registered to Bid</div>
        <div class='summarybox'>Messages</div>
        <div class='summarybox'>Notifications</div>
    </div>

    <div class='middlepanel'>

        <div class='dash-box' id='verifyboxmain'>
            <div class='dash-title'>E-Mail Verification Pending *</div>
            <div class='dash-content'  style='text-align: center;''>
                <div id='verficationcoderequest'>
                <p>Your account still requires verification, you should have recieved a link with a code:</p>
                <div style='width:400px;max-width:100%;margin:0px auto;text-align: center;'><div id='error-code' class='sectionError'></div><input id='verficationcode' type='text' class='mytxt' placeholder="verification code" style='text-align:center;box-sizing: border-box;font-weight:700'/>
                <button class='sitebtn-small2 ' id='btnVerify' style='margin-top:30px;'>Verify</button>
                <p>Not recieved a code, <a href='#codereset' id='codereset'>Click Here</a> to have a new code sent to your mailbox.</p>
                <div id='coderesults'></div>
               </div>
                <div style='clear:both'></div>
                </div>
            </div>
        </div>

        <div class='dash-box' id='verifyboxmain'>
            <div class='dash-title'>Welcome</div>
            <div class='dash-content' style='    background: #e5e5e5;color: #555;'>
                <p class="MsoNormal">Hello </p><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">The
                    Team here at Auction House are dedicated to delivering the highest 
                   quality of service in the most professional manner possible but we need 
                   your help if we’re going to do that so:</p><p class="MsoNormal">&nbsp;</p><ol style="margin-top :  0cm; " type="1" start="1"><li class="x_347814597MsoListParagraph" style="margin-left :  0cm; ">If you have a question pick up the phone and ask, we’re here to help</li><li class="x_347814597MsoListParagraph" style="margin-left :  0cm; ">Please
                    complete as much of the information in your customer account profile as
                    you are able to assist us in doing our job properly</li><li class="x_347814597MsoListParagraph" style="margin-left :  0cm; ">Whatever you need to know we can tell you so don’t be shy we’re here for you</li></ol><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">From
                    this portal you will be able to view property particulars, register as a
                    seller or a bidder, find useful information that will guide you through
                    the process of buying or selling at auction. </p><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">We hope you find this website useful and look forward to being of service to you. </p><p class="MsoNormal">&nbsp;</p><p class="MsoNormal">Best Regards</p><p class="MsoNormal">Team Auction House</p>
            </div>
        </div>



    </div>
    <div class='sidepanel'>
        <div class='summarybox'>AML Status:</div>
            <div class='dash-box' style='border:2px solid green;'>
                <div class='dash-content'>
                    <div class='checklist'>
                        <% 
                        var verif1 = '';
                        var verif2 = '';
                        var verif3 = '';
                        if(customer.isVerified){
                            verif1 = 'green';
                        }if(customer.profile_updated){
                            verif2 = 'green';
                        }if(customer.documentsuploaded){
                            verif3 = 'green';
                        }%>
                        <div><i class="fa fa-check-circle <%-verif1%>"></i>Verify Account</div>
                        <div><i class="fa fa-check-circle  <%-verif2%>"></i>Update Bidding Profile <a href='/portal/profile'>click here</a></div>
                        <div><i class="fa fa-check-circle  <%-verif3%>"></i>Upload Verification Documents <a href='/portal/profile'>click here</a></div>
                   </div>
                </div>
            </div>

       
        <div class='summarybox'>Registered to Bid</div>
        <div class='summarybox'>Account Manager</div>
    </div>
</div>
</div>