<%- include('../partials/header.ejs')%>


<%- include('../partials/questionbox.ejs')%>

<script>
    var question = "<%-question%>"
    if(question){
        $('#queryaddinfo').val(question)
    }
    $('#btnSubmitQueryContact').click(function(){
        var error = 0;
        var errormsgs = []
        var firstname = $('#firstname').val()
        if(!firstname){error++;errormsgs.push('First Name is Required*')}
        var lastname = $('#lastname').val()
        if(!lastname){error++;errormsgs.push('Last Name is Required*')}
        var email = $('#emailaddr').val()
        if(!email){error++;errormsgs.push('E-Mail address is Required*')}
        var telephone = $('#telephone').val()
        if(!telephone){error++;errormsgs.push('Telephone Number is Required*')}
        var info =  $('#queryaddinfo').val()

        if(error){
            var msg = '<div class="inrow" style="padding:20px 40px;">';
            errormsgs.forEach(m=>{
                msg+='<div class="errorstr">'+m+'</div>'
            })
            msg+= '</div>'
            $('#formstatus').html(msg)
        }else{
            $.post('/savequery',{firstname,lastname,email,telephone,info},function(data){
                if(data.status){
                    window.location = '/thank-you'
                }
            },'json')
        }
        //window.location = '/thank-you'
    })
</script>
<%- include('../partials/footer.ejs')%>