<%- include('../partials/header.ejs')%>
<style>
    .mypoint {
    background-repeat: no-repeat;
    display: inline-block;
    padding: 14px 0px;
    background-size: contain;
    background-image: url('/content/housebullet.png');
    color: #fff;
    text-align: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-weight: 700;
}
    .lititle{
        display: inline-block;
    }
</style>
<div class='bannerimagecen2'>
    <div class='bannerimgtint2'>
      <div class='container'>
          <div style='text-align:center'>
<div class='formtitle'>
    Local Auction Rooms for Local Buyers
</div>
<div class='form-page'>
    <div style='padding:40px 20px;color:#777;'>
    
        <div class="row">
            <div class="col-md-24 col-lg-12 no-bullets">
                <h4>East of England</h4>
                <ul>
                    <li class="mt-10"><a href="/robinsonandhall">Auction House Robinson &amp; Hall <br> <span class="black-text">Located in Bedford, Luton &amp; Milton Keynes</span></a></li>
                    <li class="mt-10"><a href="/eastanglia">Auction House East Anglia <br> <span class="black-text">Located in Norwich, Ipswich, King’s Lynn &amp; Peterborough</span></a></li>
                    <li class="mt-10"><a href="/essexandkent">Auction House Essex &amp; Kent<br> <span class="black-text">Located in Southend on Sea &amp; Maidstone</span></a></li>
                </ul>
                <h4>East Midlands</h4>
                <ul>
                    <li class="mt-10"><a href="/copelands">Auction House Copelands <br> <span class="black-text">Located in Chesterfield</span></a></li>
                    <li class="mt-10"><a href="/lincolnshire">Auction House Lincolnshire, North Notts &amp; South Yorks <br> <span class="black-text">Located in Gainsborough</span></a></li>
                    <li class="mt-10"><a href="/leicestershire">Auction House Leicestershire <br> <span class="black-text">Located in Leicester</span></a></li>
                    <li class="mt-10"><a href="/northamptonshire">Auction House Northamptonshire <br> <span class="black-text">Located in Northampton</span></a></li>
                </ul>
                <h4>Greater London</h4>
                <ul>
                    <li class="mt-10"><a href="/london">Auction House London <br> <span class="black-text">Located in Central London</span></a></li>
                </ul>
                <h4>North East</h4>
                <ul>
                    <li class="mt-10"><a href="/northeast">Auction House North East <br> <span class="black-text">Located in Durham &amp; Newcastle</span></a></li>
                    <li class="mt-10"><a href="/northeast">Auction House Tees Valley <br> <span class="black-text">Located in Durham &amp; Middlesborough</span></a></li>
                </ul>
                <h4>North West</h4>
                <ul>
                    <li class="mt-10"><a href="/northwest">Auction House North West <br> <span class="black-text">Located in Bolton, Liverpool, Manchester &amp; Preston</span></a></li>
                    <li class="mt-10"><a href="/cumbria">Auction House Cumbria <br> <span class="black-text">Located in Carlisle &amp; Ulverston</span></a></li>
                    <li class="mt-10"><a href="/manchester">Auction House Manchester <br> <span class="black-text">Located in Manchester</span></a></li>
                </ul>
            </div>
            <div class="col-md-24 col-lg-12 no-bullets">
                <h4>South East</h4>
                <ul>
                    <li class="mt-10"><a href="/sussex">Auction House Sussex <br> <span class="black-text">Located in Brighton &amp; Hove</span></a></li>
                    <li class="mt-10"><a href="/kent">Auction House Kent<br> <span class="black-text">Located in Maidstone</span></a></li>
                </ul>
                <h4>South West</h4>
                <ul>
                    <li class="mt-10"><a href="/symondsandsampson">Auction House Symonds &amp; Sampson <br> <span class="black-text">Located in Axminster, Sherborne &amp; Sturminster Newton</span></a></li>
                    <li class="mt-10"><a href="/bristol">Auction House Bristol &amp; West <br> <span class="black-text">Located in Bristol</span></a></li>
                    <li class="mt-10"><a href="/devonandcornwall">Auction House Devon &amp; Cornwall <br> <span class="black-text">Located in Exeter &amp; Redruth</span></a></li>
                </ul>
                <h4>West Midlands</h4>
                <ul>
                    <li class="mt-10"><a href="/staffordshire">Auction House Staffordshire &amp; Shropshire <br> <span class="black-text">Located in Stoke on Trent</span></a></li>
                    <li class="mt-10"><a href="/loveitts">Auction House Loveitts <br> <span class="black-text">Located in Coventry</span></a></li>
                    <li class="mt-10"><a href="/birmingham">Auction House Birmingham &amp; Black Country <br> <span class="black-text">Located in Walsall</span></a></li>
                </ul>
                <h4>Wales</h4>
                <ul>
                    <li class="mt-10"><a href="/southwales">Auction House South Wales <br> <span class="black-text">Located in Cardiff &amp; Newport</span></a></li>
                </ul>
                <h4>Yorkshire</h4>
                <ul>
                    <li class="mt-10"><a href="/hullandeastyorkshire">Auction House Hull &amp; East Yorkshire <br> <span class="black-text">Located in Beverley &amp; Driffield</span></a></li>
                    <li class="mt-10"><a href="/westyorkshire">Auction House West Yorkshire <br> <span class="black-text">Located in Leeds</span></a></li>
                    <li class="mt-10"><a href="/southyorkshire">Auction House South Yorkshire <br> <span class="black-text">Located in Sheffield &amp; Chesterfield</span></a></li>
                </ul>
                <h4>Scotland</h4>
                <ul>
                    <li class="mt-10"><a href="/scotland">Auction House Scotland <br> <span class="black-text">Located in Aberdeen &amp; Glasgow</span></a></li>
                </ul>
            </div>
        </div>


<div style='clear:both;'></div>
</div>
</div>
</div>
</div>
</div>
</div>


<%- include('../partials/footer.ejs')%>