<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<div class='bannerimagecen2'>
    <div class='bannerimgtint2'>
      <div class='container'>
          <div style='text-align:center'>
<div class='formtitle'>
    Contact Us
</div>
<div class='form-page'>
    <div style='padding:40px 20px;color:#777;'>
        <h3 class="mt-0">Essex</h3>
        <div class="row">
            <div class="col-xs-6">
                <div class="address-icon-48"></div>
            </div>
            <p class="col-xs-18">
                Hillsboro<br>377 Southchurch Road<br>Southend-on-Sea<br>SS1 2PQ
            </p>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-6">
                <div class="email-icon-48"></div>
            </div>
            <p class="col-xs-18">
                essex@auctionhouse.co.uk
            </p>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-6">
                <div class="telephone-icon-48 icons-48"></div>
            </div>
            <p class="col-xs-18">
                <a href="tel:01702 33 33 99" class="text-black" data-track="true" data-track-cat="Engagement" data-track-action="Click" data-track-label="Telephone (Auction House Essex &amp; Kent)">01702 33 33 99</a>
            </p>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-6">
                <div class="clock-icon-48 icons-48"></div>
            </div>
            <p class="col-xs-18">
                Opening Hours<br>
                Monday - Friday 9am - 5.30pm
            </p>
        </div>
        <div class="spacer"></div>
        <h3 class="mt-0">Kent</h3>
        <div class="row">
            <div class="col-xs-6">
                <div class="address-icon-48"></div>
            </div>
            <p class="col-xs-18">
                GHL House<br>12-14 Albion Place<br>Maidstone<br>ME14 5DZ
            </p>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-6">
                <div class="email-icon-48"></div>
            </div>
            <p class="col-xs-18">
                kent@auctionhouse.co.uk
            </p>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-6">
                <div class="telephone-icon-48 icons-48"></div>
            </div>
            <p class="col-xs-18">
                <a href="tel:01622 589 623" class="text-black" data-track="true" data-track-cat="Engagement" data-track-action="Click" data-track-label="Telephone (Auction House Essex &amp; Kent)">01622 589 623</a>
            </p>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <div class="col-xs-6">
                <div class="clock-icon-48 icons-48"></div>
            </div>
            <p class="col-xs-18">
                Opening Hours<br>
                Monday - Friday 9am - 5.30pm
            </p>
        </div>
<div style='clear:both;'></div>
</div>
</div>
</div>
</div>
</div>
</div>
  
    <div class="spacer"></div>
</div>
<%- include('../partials/footer.ejs')%>