<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>

<section>
		
    <div class="header-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-24">
                    <h1>Auction Finance and Bridging Loans</h1>
                    <p>Due to the short timescale for the purchase and completion of an auction property, long term financing such as mortgages can be difficult to put into place quick enough to meet deadlines. However, there are other options of financing your purchase. Auction House has teamed up with two national specialist lenders that can provide short term bridging loans, designed for auction purchases, making them an ideal option whether you are looking to buy residential or commercial property. They pride themselves in providing a quick turnaround of funds, which can be agreed before, during or after the auction, to guarantee funds will be available in time for completion. This then allows you time to arrange a mortgage or another long term funding solution that is right for you.</p>
                    <p>The two lenders that Auction House works closely with are Together and Bridging Finance Solutions Limited.</p>
                </div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="spacer">&nbsp;</div>
            <div class="col-md-8 col-xs-24 text-center">
                <img src="/Content/Images/together-logo.png" title="Together" alt="Together">
                <div class="spacer"></div>
                <p><a href="https://togethermoney.com/auction-house-enquiry/?sc_camp=BAD8AC7269F74B7080EC8E8986A4FA83" target="_blank" title="Find out more about Together Finance" data-track="true" data-track-cat="Link" data-track-action="Click" data-track-label="Together Finance">Find out more</a></p>
            </div>
            <div class="spacer visible-xs visible-sm"></div>
            <div class="col-md-8 col-xs-24 text-center">
            </div>
            <div class="col-md-8 col-xs-24 text-center">
                <img src="/Content/Images/bridging-finance-logo.png" title="Bridging Finance Solutions" alt="Bridging Finance Solutions">
                <div class="spacer"></div>
                <p><a href="https://www.bridgingfinance-solutions.co.uk/" target="_blank" title="Find out more about Bridging Finance Solutions" data-track="true" data-track-cat="Link" data-track-action="Click" data-track-label="Bridging Finance Solutions">Find out more</a></p>
            </div>
            <div class="spacer visible-xs visible-sm"></div>
    
        </div>
    
        <h2>Why use an Auction Finance Specialist Lender?</h2>
    
        <div class="row">
            <div class="col-md-12">
                <h4>Personal Service</h4>
                <p>The lenders like to offer a personal service. You will be assigned an experienced and professional case manager to handle your requirements from initial enquiry to loan completion.</p>
    
                <h4>Fast Decisions</h4>
                <p>They aim to provide a full decision in principle the same day as receiving your enquiry. The lenders will also provide full, detailed terms for the particular loan.</p>
    
                <h4>Tailored To You</h4>
                <p>Each loan is assessed on its individual merits and can be tailored for your specific requirements. Their rates and fees are competitive in the market and will be outlined from the start of your enquiry process.</p>
            </div>
            <div class="col-md-12">
                <h4>Non Status Facilities</h4>
                <p>The lenders do not require business plans or cash flow forecasts, and can be open minded when it comes to credit history. The loans are offered and secured against the value of the property.</p>
    
                <h4>Fast Turnaround</h4>
                <p>Funds can normally be made available within 7-10 days, so with a supportive solicitor, you could be able to complete within a week of your initial enquiry.</p>
    
                <h4>Flexible</h4>
                <p>Loans can be organised before, during or after the auction, meaning you have the flexibility to organise your finance when you wish, and valuations can be carried out after a successful bid at auction.</p>
            </div>
            <div class="spacer">&nbsp;</div>
            <div class="col-md-24">
                <p>To find out more about your options for bridging loans, contact <a href="https://togethermoney.com/auction-house-enquiry/?sc_camp=BAD8AC7269F74B7080EC8E8986A4FA83" title="Together" target="_blank" data-track="true" data-track-cat="Link" data-track-action="Click" data-track-label="Together Finance">Together</a> or <a href="https://www.bridgingfinance-solutions.co.uk/" title="Bridging Finance Solutions" target="_blank" data-track="true" data-track-cat="Link" data-track-action="Click" data-track-label="Bridging Finance Solutions">Bridging Finance Solutions</a>.</p>
            </div>
        </div>
    </div>
        </section>

        <%- include('../partials/footer.ejs')%>