<%- include('../partials/header.ejs')%>
<style>
.errormsg{
    font-size: 16px;
    font-weight: 700;
    color:darkred;
}
</style>


<div class='bannerimagecen2'>
    <div class='bannerimgtint2'>
      <div class='container'>
          <div style='text-align:center'>
<div class='formtitle'>
    Log In
</div>
<div class='form-page'>
  <div style='padding:20px;box-sizing: border-box;color:#777;'>
    <p>
        Login
    </p>
    <%
        if(message){
            %><div class='errormsg'><%-message%></div><%
        }
    %>
</div>
    <form action="/account/authenticate" method="post">
    <div class='inrow-50'>
        <input type='text' class='sitetxta'  name="Email"  placeholder='E-Mail Address'/>
    </div>
    <div class='inrow-50'>
        <input type='password' class='sitetxta'  name="Password"  placeholder='Password'/>
    </div>
    <div style='clear:both;'></div>
     <div style='text-align: right;padding:20px;box-sizing: border-box;'>
    <button class='sitebtn-small' >Sign In</button>
    </div>
    <div class='form-anchor' style='padding:20px;box-sizing: border-box;'><a href="/account/forgotten-password" title="Forgotten login details.">Forgotten Password?</a></div>
  
    <div style='clear:both;'></div>
</form>	
</div>
</div>
</div>
</div>
</div> 



<%- include('../partials/general-menu.ejs')%>


<%- include('../partials/footer.ejs')%>