<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<section>
		

    <style>
        li { padding: 3px 0; }
    
        td { padding: 10px; }
    </style>
    
    <!--
    
        TODO
        * check microsite URL in Definitions & Interp
    
    -->
    <div class="container">
        <div class="text-center bold text-uppercase">
            <h3 class="text-uppercase">Auction House UK Limited</h3>
            <h3 class="text-uppercase">Privacy Policy</h3>
            <h4>How we handle &amp; use your information</h4>
        </div>
        <div class="spacer"></div>
        <p>We may collect, hold and use some of your personal data and so here will provide more information about how this works.</p>
        <p>Please read it carefully and ensure that you understand it.  If you do not accept and agree with any part of it please stop using the website immediately, because your continuing use of our website will be seen as your acceptance of it.</p>
        <ol>
            <li>
                <span class="bold">Definitions and Interpretation</span>
                <br>Meanings of phrases within this document:
                <table style="width:100%">
                    <tbody><tr>
                        <td class="bold pl-0" valign="top">Data</td>
                        <td>Any information that a user of the website provides to us, through our "Contact" page, or through emailing us relating to any person who can be directly or indirectly identified from that information.</td>
                    </tr>
    
                    <tr>
                        <td class="bold pl-0" valign="top">We/Us/Our</td>
                        <td>Auction House UK Limited<br>Registered Number: 06025583<br>Registered Office: Hill House, The Street, Wissett, Halesworth, Suffolk, United Kingdom, IP19 0JH</td>
                    </tr>
                    <tr>
                        <td class="bold pl-0" valign="top">You/Your</td>
                        <td>A user of the website</td>
                    </tr>
                    <tr>
                        <td class="bold pl-0" valign="top">We/Us/Our</td>
                        <td><a href="https://www.auctionhouse.co.uk">www.auctionhouse.co.uk</a></td>
                    </tr>
                </tbody></table>
            </li>
            <li>
                <span class="bold">Company Information</span>
                <ul class="list-unstyled">
                    <li>Auction House UK Limited, The Barn, Newmarket Road, Cringleford, Norwich NR4 6UE</li>
                    <li>Trading as Auction House</li>
                    <li>Our VAT number is 926514325</li>
                    <li>We are a member of The Property Ombudsman Scheme</li>
                    <li>If you have any questions about the website or the use of your data, please contact us at <a href="mailto:enquiries@auctionhouse.co.uk" target="_top">enquiries@auctionhouse.co.uk</a></li>
                </ul>
            </li>
            <li>
                <span class="bold">Users Rights</span>
                <br>As a user you have the following rights -
                <ul>
                    <li>A right to be informed about our collection and use of personal information;</li>
                    <li>A right of access to the personal information we hold about you;</li>
                    <li>A right to rectification if any personal information we hold about you is inaccurate or incomplete;</li>
                    <li>A right to ask us to delete any personal information held about you unless we are obliged to retain the information for other legal reasons;</li>
                    <li>A right to restrict or prevent the processing of your personal information;</li>
                    <li>A right to data portability (obtaining a copy of your data to re-use with another service or organisation);</li>
                    <li>A right to object to the use of your data for particular purposes.</li>
                </ul>
            </li>
            <li>
                <span class="bold">Data Collection</span>
                <p>Except where you contact us directly through any of our contact options available on the Website we do not collect any personal data from you.</p>
                <p>If you contact us or send us an email, we will retain the details you provide to us including your name, your email address, and any other information which you choose to give us.</p>
                <p>However, we do place cookies on your computer or device.</p>
            </li>
    
            <li>
                <span class="bold">Using Your Information</span>
                <p>Where we hold any personal information, it will be processed and stored securely, for no longer than is necessary, considering the reason it was provided to us.</p>
                <p>We will potentially -</p>
                <ol type="i">
                    <li>Reply to your email or other form of contact;</li>
                    <li>Provide details of auctions and properties requested, plus any others we think may interest you;</li>
                    <li>Offer or provide you with the services requested, plus any others we think may interest you;</li>
                </ol>
                <p>We will delete your personal information once your request has been met or the service has been provided, except where –</p>
                <ol type="i">
                    <li>You were interested in details of auctions and properties we are offering, when we will continue to hold your information in order to send you information on other auctions and properties that may interest you;</li>
                    <li>You become a client or a buyer of a property;</li>
                    <li>You require us to retain it for longer;</li>
                    <li>We are required to retain it for longer for other legal reasons.</li>
                </ol>
                <p>You have the right to withdraw your consent to us using your data and to request that we delete it.</p>
                <p>We will share your data with selected third party processors who have confirmed themselves as GDPR compliant as required to provide you with required and requested services – see further details below.</p>
            </li>
            <li>
                <span class="bold">Storage of your Data</span>
                <p>Your data will only be stored in the UK.</p>
            </li>
            <li>
                <span class="bold">Accessing Your Data</span>
                <p>You have a right to ask for a copy of any personal information we hold on you free of charge.</p>
                <p>Please contact us to make a request at 01603 508 500 or <a href="mailto:enquiries@auctionhouse.co.uk" target="_top">enquiries@auctionhouse.co.uk</a></p>
            </li>
            <li>
                <span class="bold">Changes to our Policies</span>
                <p>We recommend that you check this page regularly to keep up-to-date, as we reserve the right to change this Policy from time to time if our policies change or the law changes. Any changes will be posted on this page of the website and you will be deemed to have accepted changes to the Policy on your first use of the website following the changes.</p>
            </li>
            <li>
                <span class="bold">Applicability</span>
                <p>This Policy applies only to your use of this website. The website may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the policies of any such websites before providing any data to them.</p>
            </li>
            <li>
                <span class="bold">Complaints</span>
                <p>If you have any cause for complaint about our use of your personal data, please contact us at 01603 508 500 or <a href="mailto:enquiries@auctionhouse.co.uk" target="_top">enquiries@auctionhouse.co.uk</a></p>
                <p>We will address your concerns and attempt to solve the problem to your satisfaction.</p>
                <p>You also have the right to lodge a complaint with the Information Commissioner’s Office.</p>
                <p>For further information about your rights, please contact the Information Commissioner’s Office, or your local Citizens Advice Bureau.</p>
            </li>
        </ol>
        <h4 class="text-center bold text-uppercase">General Data Protection Regulations</h4>
        <ol>
            <li>By entering into this agreement with us you will provide to us various pieces of personal information, which we will need to provide you with the high-quality service you require, to ultimately facilitate the successful marketing and sale of your property.</li>
            <li>
                The information required by us will vary depending on circumstances. It will include the information within this agreement, but it may not be limited to this information -
                <ul>
                    <li>Names and addresses</li>
                    <li>Contact telephone numbers</li>
                    <li>Email addresses</li>
                    <li>Personal identification information and documentation</li>
                    <li>Bank details</li>
                    <li>Information about the property</li>
                    <li>Information about you and the tenants/occupiers of your property</li>
                </ul>
            </li>
            <li>In all cases we will hold your personal information securely, either in hard copy on our property files or digitally within our software.</li>
            <li>We will provide it to others only where it is required and as outlined below, or in accordance with your stipulated wishes.</li>
            <li>Your information will not be passed to a third party not listed in our Third Party Processors schedule without obtaining your consent.</li>
            <li>
                Specifically, we will hold and use your information in the manner outlined under the headings below –
                <ul class="list-unstyled">
                    <li>Prospective Buyers – Basic information provided when registering for alerts and My Auction House services including contact name, email address, contact number and property requirements will be retained and used for servicing purposes in accordance with the process as described on registration.</li>
                    <li>Identification Details - We may hold copies of your photographic identity documents and at least one document that confirms your home address.  We may also use an online service to verify your identity. This is done to meet our obligation under Money Laundering Regulation. Additionally, it is required to protect our position and look after your interests.  It assists us to ensure we are dealing with the owners of the property and we are not becoming involved in any money laundering situation. In line with our obligation the copy documents and/or identity verification report will be held for 5 years from the date of the property sale or 5 years from the date you withdraw your property from the market. We will not provide any other party with copies of these documents, except auctioneers or solicitors involved in the sale of your property, who also have an obligation to verify your identity, and they formally request it.</li>
                    <li>Prospective Sellers - Basic information about you and your property will be provided to auctioneers able to assist you in selling your property.  This information will include personal, property details and any other relevant information you provide to us or is provided by your solicitors or any other property professionals.</li>
                </ul>
            </li>
            <li>Your details may be added to our mailing list and we may send you information regarding other relevant services we can provided to you. You will be able to unsubscribe to these emails at any time.</li>
            <li>We will retain the personal information we hold for up to 6 years, because the time limit for any party to initiate civil action against us should they believe they have a claim is 6 years.</li>
            <li>If you would like to contact us regarding any data issue, please contact Roger Lake on telephone number 01603 508 500 or <a href="mailto:enquiries@auctionhouse.co.uk" target="_top">enquiries@auctionhouse.co.uk</a></li>
            <li>
                You have the following rights relating to the information we hold on you –
                <ol type="a">
                    <li>The right to make a Subject Access Request (SAR) to find out more about the data we hold about you;</li>
                    <li>The right to be informed;</li>
                    <li>The right of access;</li>
                    <li>The right to rectification;</li>
                    <li>The right to erasure (also known as the ‘right to be forgotten’);</li>
                    <li>The right to restrict processing;</li>
                    <li>The right to data portability;</li>
                    <li>The right to object.</li>
                </ol>
            </li>
        </ol>
        <p>More information on your rights is available at <a href="https://www.ico.org.uk" target="_blank">www.ico.org.uk</a></p>
        <h4 class="text-center bold text-uppercase">Third party processors</h4>
        <p>Below is a list of third parties we may share your data with:</p>
    
        <ul>
                <li>Auction House Robinson &amp; Hall</li>
                <li>Auction House Birmingham &amp; Black Country</li>
                <li>Auction House Bristol &amp; West</li>
                <li>Auction House Loveitts</li>
                <li>Auction House Cumbria</li>
                <li>Auction House Devon and Cornwall</li>
                <li>Auction House Symonds &amp; Sampson</li>
                <li>Auction House East Anglia</li>
                <li>Auction House Essex &amp; Kent</li>
                <li>Auction House Hull &amp; East Yorkshire</li>
                <li>Auction House Kent</li>
                <li>Auction House Leicestershire</li>
                <li>Auction House Lincolnshire, North Notts &amp; South Yorks</li>
                <li>Auction House London</li>
                <li>Auction House Manchester</li>
                <li>Auction House Copelands</li>
                <li>Auction House North East</li>
                <li>Auction House North West</li>
                <li>Auction House Northamptonshire</li>
                <li>Auction House Scotland</li>
                <li>Auction House South Wales</li>
                <li>Auction House South Yorkshire</li>
                <li>Auction House Staffordshire &amp; Shropshire</li>
                <li>Auction House Sussex</li>
                <li>Auction House Tees Valley</li>
                <li>Auction House West Yorkshire</li>
            <li>Brief Your Market.com</li>
            <li>ETSOS</li>
            <li>Together Money</li>
        </ul>
    
    </div>
        </section>

        <%- include('../partials/footer.ejs')%>