<%- include('../partials/header.ejs')%>
<%- include('../partials/banner-top.ejs')%>
<div class='bannerimagecen2'>
    <div class='bannerimgtint2'>
      <div class='container'>
          <div style='text-align:center'>
<div class='formtitle'>
    Thank <strong>You</strong>
</div>
<div class='form-page'>
    <div class='inrow'>
        <div style='text-align: center;font-size: 24px;line-height:30px'>
            <p>Thank You for your enquiry,</p>
            <p>A representive will be in contact with you soon</p>
        </div>
    </div>
    <div style='clear:both;margin-bottom:30px;'></div>
</div>
</div>
</div>
</div>
</div> 
<%- include('../partials/general-menu.ejs')%>
<%- include('../partials/footer.ejs')%>