<%- include('../partials/header.ejs')%>
<style>
.errormsg{
    font-size: 16px;
    font-weight: 700;
    color:darkred;
}
body{
    background-color: #fff;
    overflow: hidden;
}
.loginheader{
    font-size: 26px;
color: #000;
font-weight: 700;
}
</style>

<div class='bannerimagecen2'>
    <div class='bannerimgtint2' style='height:100%;'>
      <div class='container'>
          <div style='text-align:center'>
<div class='form-page-container'>
    <div class='form-page-inner' style='width:500px;margin: 0px auto;padding:20px;text-align: center;'>
  <div style='padding:20px;box-sizing: border-box;' class='loginheader'>
    <p>
        E-Mail Verification
    </p>
</div>
Your account has been successfully verified. Please Continue
    <div style='clear:both;'></div>
</form>	
</div>
</div>
</div>
</div>
</div>
</div> 
