<%- include('../../partials/header.ejs')%>
<style>
.errormsg{
    font-size: 16px;
    font-weight: 700;
    color:darkred;
}
body{
  background-image: url('/images/vectorstock_922266.png');
/*  background-image: url('/images/13520306.jpg');*/
  background-size:cover;
  
  width: 100%;
  box-sizing: border-box;
  background-position: center;
    overflow: hidden;
}
.loginheader{
    font-size: 26px;
color: #000;
font-weight: 700;
}
.bannerimagecen2{
     background:unset;

}
header{
     background:unset;
     box-shadow:unset;
}
.main{
     background:unset;
}
.sitetxta{
    border-radius:8px;
    padding:8px 10px;
    font-size:16px;
    border:1px solid #888;
}
header {
    background: #000c;
}
header nav li a {
    color: #fff;
}
.nav > li:hover > a, .nav > li:focus-within > a {
    color: #ffff;
}
</style>

<div class='bannerimagecen2'>
    <div  style='padding-top:30px;'>
      <div class='container'>
          <div style='text-align:center'>
<div class='form-page-container'>
    <div class='' style='width:380px;margin: 0px auto;padding:20px;text-align: center;background:#fffc'>  <div style='padding:20px;box-sizing: border-box;font-family: "Brandon Grotesque";' class='loginheader'>Forgotten Password
</div>
<form action="/account/forgot-password" method="post">
    <div class=''>
        <input type='text' class='sitetxta'  name="Email"  placeholder='E-Mail Address' value='<%-tmpuser%>'/>
    </div>
    <div style='clear:both;'></div>
     <div style='text-align: right;'>
    <button class='sitebtn-small' >Send Now</button>
    </div>
    <div class='form-anchor' style='padding:20px;box-sizing: border-box;'><a href="/account/log-in" title="Back to login">Back to login</a></div>
  
    <div style='clear:both;'></div>
</form>	
</div>
</div>
</div>
</div>
</div>
</div> 
