<%- include('../../partials/header.ejs')%>
<title>Password Reset - Auction House</title>
<style>
#errormsg{
    padding:20px;
    font-weight: 700;
    font-size: 16px;
    color:darkred
}
.loginheader{
    font-size: 26px;
color: #000;
font-weight: 700;
}
</style>


<div class='bannerimagecen2'>
    <div class='bannerimgtint2' style='height:100%;'>
      <div class='container'>
          <div style='text-align:center'>
<div class='form-page-container'>
    <div class='form-page-inner' style='width:500px;margin: 0px auto;padding:20px;text-align: center;'>
    <form action="/account/password-reset" method="post">
        <p>
           <div  class='loginheader'>Passsword Reset </div>
        </p>
        <div id='errormsg'>
        <%
            if(myissues.length>0){
                
                
                myissues.forEach(my=>{
                    %>
                    
                    <div><%-my%></div>
                    <%
                })
                
                
                
            }
        %>
    </div>
    
    <div>
        <input type='hidden' value="<%-userid%>" name='userid'>
        <input type='hidden' value="<%-code%>" name='code'>
        <input type='password' class='sitetxta'  name="password"  placeholder='Password'/>
    </div>
    <div class='inrow'>
    </div>
    <div style='clear:both;'></div>


<div style='color:#777;text-align:left;'>
</div>
<div style='text-align: right;padding:20px;box-sizing: border-box;'>
    <button class='sitebtn-small' >Reset Password</button>
    </div>
    <div style='clear:both;'></div>
</div>
</form>	
</div>
</div>
</div>
</div>
</div> 
