.contactwrapper{
    background: #ececec;
    padding:20px 0px;
    box-sizing: border-box;
}
.inrowf{
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding:0px;
}
.inrow-25f{
    flex: 1;
    padding:5px 5px;
    box-sizing: border-box;
    @media screen and (max-width: $medium) {
        flex: 2;
      }
}
.outrowf{
    display: flex;
    flex-direction: column;;
}

.sitetxtc{
    font-family: 'Brandon Grotesque';
    padding:7px 12px !important;
    border:1px solid #ddd;
    resize: none;
    width:100%;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 0 solid #f4f4f4;
  }
  .sitetxtc::placeholder{
    color: #595959 !important;
    font-weight:500 !important;
  }