
.nav{
  font-size: 16px;
}
  .nav>li {
    color: #fff;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
ul.nav> li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    list-style: none;
    margin:0px;
    padding:0px;
    padding-top:16px;
    box-sizing: border-box;
    top:30px;
    border-top:1px solid #ccc;
  }
  ul.nav> li ul li{
    margin:0px;
    border-bottom: 1px solid #ddd;
  }
  ul.nav> li ul li>a {
    display: inline-block;
      color:rgb(157, 157, 157);
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    padding: 0.7rem;
    min-width: 120px;
    box-sizing: border-box;
    min-width: 200px;
    font-size: 16px;
  }
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    z-index: 200;
    padding-top:0px;
  }
  
  ul.nav> li ul li {
    clear: both;
    width: 200px;
    box-sizing: border-box;
      background:#fff;
    z-index: 4;
  position: relative;
  }
  ul.nav> li ul li a{
    color:$menufont;
    font-weight: 400;
    font-size: 12px;
  }
  ul.nav> li ul li:hover>a{
    color:#000;
  }
  .nav>li.hightlight {
    background: #b82b35;
    cursor: pointer;
    color:#fff;
    border-radius: 5px;;
  }
  .nav>li.hightlight>a{
    color:#fff;
  }
  .nav>li:hover>a,
  .nav>li:focus-within>a{
    color: #000;
  }
  .nav>li:hover,
  .nav>li:focus-within {
    cursor: pointer;
  }
  .nav>li:focus-within>a {
    outline: none;
    color: #000;
    text-shadow: 0px 0px 1px black;
  }


header{
  background: $primary;
  padding:1em 0;
  box-shadow: 0px 15px 10px -15px rgb(199, 199, 199);  
  a{
      color:#000;
      text-decoration: none;
  }
  nav {

      float:right;
      
      ul{
          list-style-type: none;
          margin: 0;
          display: flex;
      }
      li a{
        // font-family: 'Brandon Grotesque';
          color:#000;
          padding:1em;
        font-weight: 500;
        font-size: 13px;
        white-space: pre;
        @media screen and (max-width: $medium) {
          padding:0.9em;
         
       }
       @media screen and (max-width: $small) {
        padding:0.7em;
         
       }
      }
  }
}


.caret:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
content: " \f107";
padding-left: 15px;
@media screen and (max-width: $medium) {
  padding: 8px;
 
}
@media screen and (max-width: $small) {
padding:4px;
 
}
}


.highlight{
  background-color:$red-primary;
  color:#fff  !important;
  font-weight:700;
  border-radius: 5px;
  margin-left: 20px;
  text-shadow:none!important;
  padding: 8px 16px;
}