@import url(https://fonts.googleapis.com/css?family=Lato:700);


.ribbon {

  pointer-events:none;
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 155px; height: 155px; 
  text-align: right;
}
.ribbonlarge{
  width: 255px; height: 255px; 
}
.ribbon2{
  right:unset;
  left:-5px !important;
}
.ribbon span {
    font-size: 20px;
  color: #fff; 
  text-transform: uppercase; 
  text-align: center;
  font-weight: bold; line-height: 30px;
  transform: rotate(45deg);
  width: 200px; display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 47px;
    right: -39px;
}
.ribbon2 span {
  right:unset;
  left:-39px !important;
  transform: rotate(315deg) !important;
}
.ribbonlarge span {
  font-size: 30px;
  width: 300px;
  line-height: 50px;
  top: 70px;
    right: -54px;
}
.ribbon span::before {
  content: '';
  position: absolute; 
  left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: '';
  position: absolute; 
  right: 0%; top: 100%;
  z-index: -1;
  border-right: 3px solid #79A70A;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}
