
input[type=text]{
    font-size: 16px;
    padding:8px 12px;
    width:100%;
    box-sizing: border-box;
    border:1px solid #ccc;
    font-family: $myfont;
  }
  input[type=password]{
    font-size: 16px;
    padding:8px 12px;
    width:100%;
    box-sizing: border-box;
    border:1px solid #ccc;
    font-family: $myfont;
  }