$primary :#fff;
$test :rgb(255, 154, 2);
$menufont:#777;
$bglight:rgb(242, 242, 242);
$myfont: 'Roboto', sans-serif;
$myfont_a: 'Roboto', sans-serif;
$myfont_b: 'Roboto', sans-serif;

/*
    font-family: 'DM Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;

*/